# Entorno virtual
venv/
.env/

# Archivos de configuración de entorno
.env
*.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de bases de datos SQLite
*.sqlite3
*.db

# Archivos de log
*.log

# Archivos temporales
*.bak
*.swp
*.tmp

# Configuraciones de IDEs o editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Flask-related
instance/
*.egg-info/
dist/
build/
